@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 160px;
  height: 66px;
  border: 1px solid rgb(54, 2, 2);
  box-shadow: 4px 4px 9px rgba(57, 1, 1, 0.36);
  border-radius: 20px;
  background: #7b037b;
  padding: 0.8rem 1rem;
  color: #070707;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #fa05c5 0%, #382001 179.25%);
}

.progress {
  background: linear-gradient(90deg, #011c32 0%, #04f8d7 100%);
}

.done {
  background: linear-gradient(90deg, #343501 0%, #04d00e 100%);
}

.hold {
  border: 6px solid rgb(33, 1, 1);
}

.hide {
  display: none;
}

.hovered{
  border-top: 3px solid rgb(36, 1, 69);
}